.carousel-inner img {
  transition: filter 0.3s ease-in-out;
  filter: brightness(0.9);
  max-height: 500px;
  object-fit: cover;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

@media (max-width: 768px) {
  .carousel-inner img {
    max-height: 300px;
  }
}
